* 
# ignore everything except...

# this file
!.gitignore

# vhdl files
!*.vhd
!*.vhdl

# simulation files
!/simulation
!/simulation/modelsim
!*.vht

# timing files
!*.sdc

# quartus project files
!*.qpf
!*.qsf

# quartus design files
!*.bsf
!*.bdf

# SignalTap II files
!*.stp

# programmign files
!*.cdf